# Creating Data

## Creer Lire et Ecrire
## DataFrame

In [16]:
import pandas as pd

In [17]:
pd.DataFrame({'Yes': [500, 21], 'Non': [131, 20]})

   Yes  Non
0  500  131
1   21   20

In [18]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [19]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             #index=['Product A', 'Product B']
             index=['1er', '2eme'])

                Bob           Sue
1er     I liked it.  Pretty good.
2eme  It was awful.        Bland.

## Series

In [20]:
pd.Series([1,2,3,4,5,6])

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [21]:
pd.Series([80, 53, 69], index=['2020 Sales', '2021 Sales', '2022 Sales'], name='Product A')

2020 Sales    80
2021 Sales    53
2022 Sales    69
Name: Product A, dtype: int64

## Reading data files

In [22]:
pd.DataFrame({'Produit A':[30,35,41],'Produit B':[21,34,11], 'Produit C':[9,1,11]}, index=['2002','2006','2010'])

      Produit A  Produit B  Produit C
2002         30         21          9
2006         35         34          1
2010         41         11         11

In [23]:
wine_reviews = pd.read_csv("C:/Users/user/Desktop/Doc Professionnel/ODC/covid.csv", index_col=0)

In [24]:
wine_reviews

,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
Country/Region,,,,,,,,,,,,,,,
USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Montserrat,North America,4.992000e+03,13,NaN,1.0,NaN,10.0,NaN,2.0,NaN,2604.0,200.0,61.0,12220.0,NaN
Caribbean Netherlands,North America,2.624700e+04,13,NaN,NaN,NaN,7.0,NaN,6.0,NaN,495.0,NaN,424.0,16154.0,NaN
Falkland Islands,South America,3.489000e+03,13,NaN,NaN,NaN,13.0,NaN,0.0,NaN,3726.0,NaN,1816.0,520493.0,NaN
Vatican City,Europe,8.010000e+02,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe
Western Sahara,Africa,5.986820e+05,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa

In [25]:
wine_reviews.shape
#209 enregistrements sur 15 colonnes

(209, 15)

In [26]:
wine_reviews.head()
# Recupere les cinqs 1ere lignes du tableau

,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
Country/Region,,,,,,,,,,,,,,,
USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

# Indexation, sélection et affectation

In [27]:
import pandas as pd
reviews = pd.read_csv("C:/Users/user/Desktop/Doc Professionnel/ODC/covid.csv")

In [28]:
reviews

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,Montserrat,North America,4.992000e+03,13,NaN,1.0,NaN,10.0,NaN,2.0,NaN,2604.0,200.0,61.0,12220.0,NaN
205,Caribbean Netherlands,North America,2.624700e+04,13,NaN,NaN,NaN,7.0,NaN,6.0,NaN,495.0,NaN,424.0,16154.0,NaN
206,Falkland Islands,South America,3.489000e+03,13,NaN,NaN,NaN,13.0,NaN,0.0,NaN,3726.0,NaN,1816.0,520493.0,NaN
207,Vatican City,Europe,8.010000e+02,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe
208,Western Sahara,Africa,5.986820e+05,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa

In [29]:
pd.set_option('max_rows', 3)

OptionError: 'Pattern matched multiple keys'

## Native accessors

In [30]:
reviews

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,Montserrat,North America,4.992000e+03,13,NaN,1.0,NaN,10.0,NaN,2.0,NaN,2604.0,200.0,61.0,12220.0,NaN
205,Caribbean Netherlands,North America,2.624700e+04,13,NaN,NaN,NaN,7.0,NaN,6.0,NaN,495.0,NaN,424.0,16154.0,NaN
206,Falkland Islands,South America,3.489000e+03,13,NaN,NaN,NaN,13.0,NaN,0.0,NaN,3726.0,NaN,1816.0,520493.0,NaN
207,Vatican City,Europe,8.010000e+02,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe
208,Western Sahara,Africa,5.986820e+05,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa

In [31]:
reviews.NewCases

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
204   NaN
205   NaN
206   NaN
207   NaN
208   NaN
Name: NewCases, Length: 209, dtype: float64

In [32]:
reviews['Population']

0      3.311981e+08
1      2.127107e+08
2      1.381345e+09
3      1.459409e+08
4      5.938157e+07
           ...
204    4.992000e+03
205    2.624700e+04
206    3.489000e+03
207    8.010000e+02
208    5.986820e+05
Name: Population, Length: 209, dtype: float64

In [33]:
reviews['Continent'][207]

'Europe'

## Indexing in pandas

In [34]:
reviews.iloc[0]

Country/Region                USA
Continent           North America
Population            331198130.0
TotalCases                5032179
NewCases                      NaN
TotalDeaths              162804.0
NewDeaths                     NaN
TotalRecovered          2576668.0
NewRecovered                  NaN
ActiveCases             2292707.0
Serious,Critical          18296.0
Tot Cases/1M pop          15194.0
Deaths/1M pop               492.0
TotalTests             63139605.0
Tests/1M pop             190640.0
WHO Region               Americas
Name: 0, dtype: object

In [35]:
reviews.iloc[4:,0]

4               South Africa
5                     Mexico
6                       Peru
7                      Chile
8                   Colombia
               ...
204               Montserrat
205    Caribbean Netherlands
206         Falkland Islands
207             Vatican City
208           Western Sahara
Name: Country/Region, Length: 205, dtype: object

In [36]:
reviews.iloc[:5, 1]

0    North America
1    South America
2             Asia
3           Europe
4           Africa
Name: Continent, dtype: object

In [37]:
reviews.iloc[[0, 1, 2, 208], 2]

0      3.311981e+08
1      2.127107e+08
2      1.381345e+09
208    5.986820e+05
Name: Population, dtype: float64

In [38]:
reviews.loc[204, 'Continent']

'North America'

In [39]:
reviews.loc[:, ['Continent', 'Population']]

         Continent    Population
0    North America  3.311981e+08
1    South America  2.127107e+08
2             Asia  1.381345e+09
3           Europe  1.459409e+08
4           Africa  5.938157e+07
..             ...           ...
204  North America  4.992000e+03
205  North America  2.624700e+04
206  South America  3.489000e+03
207         Europe  8.010000e+02
208         Africa  5.986820e+05

[209 rows x 2 columns]

In [40]:
reviews.set_index("Country/Region")

,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
Country/Region,,,,,,,,,,,,,,,
USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Montserrat,North America,4.992000e+03,13,NaN,1.0,NaN,10.0,NaN,2.0,NaN,2604.0,200.0,61.0,12220.0,NaN
Caribbean Netherlands,North America,2.624700e+04,13,NaN,NaN,NaN,7.0,NaN,6.0,NaN,495.0,NaN,424.0,16154.0,NaN
Falkland Islands,South America,3.489000e+03,13,NaN,NaN,NaN,13.0,NaN,0.0,NaN,3726.0,NaN,1816.0,520493.0,NaN
Vatican City,Europe,8.010000e+02,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe
Western Sahara,Africa,5.986820e+05,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa

In [41]:
reviews.Continent == 'Africa'

0      False
1      False
2      False
3      False
4       True
       ...
204    False
205    False
206    False
207    False
208     True
Name: Continent, Length: 209, dtype: bool

In [42]:
reviews.loc[reviews.Continent == 'Africa']

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
4,South Africa,Africa,59381566.0,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.00,3149807.0,53044.0,Africa
26,Egypt,Africa,102516525.0,95006,NaN,4951.0,NaN,48898.0,NaN,41157.0,41.0,927.0,48.00,135000.0,1317.0,EasternMediterranean
45,Nigeria,Africa,206606300.0,45244,NaN,930.0,NaN,32430.0,NaN,11884.0,7.0,219.0,5.00,306894.0,1485.0,Africa
50,Ghana,Africa,31133483.0,39642,NaN,199.0,NaN,36384.0,NaN,3059.0,7.0,1273.0,6.00,405817.0,13035.0,Africa
54,Algeria,Africa,43926079.0,33626,NaN,1273.0,NaN,23238.0,NaN,9115.0,57.0,766.0,29.00,NaN,NaN,Africa
56,Morocco,Africa,36953359.0,29644,NaN,449.0,NaN,20553.0,NaN,8642.0,31.0,802.0,12.00,1383816.0,37448.0,EasternMediterranean
61,Kenya,Africa,53881160.0,24411,NaN,399.0,NaN,10444.0,NaN,13568.0,44.0,453.0,7.00,335318.0,6223.0,Africa
66,Ethiopia,Africa,115223736.0,20900,NaN,365.0,NaN,9027.0,NaN,11508.0,185.0,181.0,3.00,468814.0,4069.0,Africa
70,Cameroon,Africa,26606188.0,17718,NaN,391.0,NaN,15320.0,NaN,2007.0,30.0,666.0,15.00,149000.0,5600.0,Africa
71,Ivory Coast,Africa,26437950.0,16447,NaN,103.0,NaN,12484.0,NaN,3860.0,NaN,622.0,4.00,104584.0,3956.0,Africa
77,Madagascar,Africa,27755708.0,12526,NaN,134.0,NaN,10148.0,NaN,2244.0,88.0,451.0,5.00,46301.0,1668.0,Africa
78,Sudan,Africa,43943536.0,11780,NaN,763.0,NaN,6194.0,NaN,4823.0,NaN,268.0,17.00,401.0,9.0,EasternMediterranean
80,Senegal,Africa,16783877.0,10715,NaN,223.0,NaN,7101.0,NaN,3391.0,33.0,638.0,13.00,114761.0,6838.0,Africa
82,DRC,Africa,89802183.0,9309,NaN,215.0,NaN,8048.0,NaN,1046.0,NaN,104.0,2.00,NaN,NaN,Africa
85,Gabon,Africa,2230563.0,7787,NaN,51.0,NaN,5609.0,NaN,2127.0,11.0,3491.0,23.00,85369.0,38272.0,Africa
87,Guinea,Africa,13164905.0,7664,NaN,49.0,NaN,6757.0,NaN,858.0,24.0,582.0,4.00,14407.0,1094.0,Africa
90,Zambia,Africa,18430129.0,7164,NaN,199.0,NaN,5786.0,NaN,1179.0,NaN,389.0,11.00,90307.0,4900.0,Africa
92,Mauritania,Africa,4660728.0,6444,NaN,157.0,NaN,5291.0,NaN,996.0,3.0,1383.0,34.00,57387.0,12313.0,Africa
97,Djibouti,Africa,989387.0,5330,NaN,59.0,NaN,5057.0,NaN,214.0,NaN,5387.0,60.00,59909.0,60552.0,EasternMediterranean
99,Libya,Africa,6880353.0,4879,NaN,107.0,NaN,652.0,NaN,4120.0,NaN,709.0,16.00,59699.0,8677.0,EasternMediterranean
100,Equatorial Guinea,Africa,1407001.0,4821,NaN,83.0,NaN,2182.0,NaN,2556.0,NaN,3426.0,59.00,44356.0,31525.0,Africa
102,CAR,Africa,4837752.0,4620,NaN,59.0,NaN,1641.0,NaN,2920.0,2.0,955.0,12.00,29589.0,6116.0,NaN
104,Malawi,Africa,19174839.0,4491,NaN,137.0,NaN,2137.0,NaN,2217.0,4.0,234.0,7.00,33466.0,1745.0,Africa
105,Zimbabwe,Africa,14883803.0,4339,NaN,84.0,NaN,1264.0,NaN,2991.0,NaN,292.0,6.00,140421.0,9434.0,Africa
108,Congo,Africa,5530506.0,3546,NaN,58.0,NaN,1589.0,NaN,1899.0,NaN,641.0,10.00,NaN,NaN,Africa
111,Somalia,Africa,15933012.0,3227,NaN,93.0,NaN,1728.0,NaN,1406.0,2.0,203.0,6.00,NaN,NaN,EasternMediterranean
112,Mayotte,Africa,273419.0,3042,NaN,39.0,NaN,2738.0,NaN,265.0,2.0,11126.0,143.00,13000.0,47546.0,NaN
113,Eswatini,Africa,1161348.0,2968,NaN,55.0,NaN,1476.0,NaN,1437.0,5.0,2556.0,47.00,20784.0,17896.0,Africa
116,Cabo Verde,Africa,556581.0,2734,NaN,27.0,NaN,2010.0,NaN,697.0,NaN,4912.0,49.00,61633.0,110735.0,Africa
117,Namibia,Africa,2545264.0,2652,NaN,15.0,NaN,563.0,NaN,2074.0,24.0,1042.0,6.00,29233.0,11485.0,Africa
118,Mali,Africa,20302901.0,2552,NaN,124.0,NaN,1954.0,NaN,474.0,NaN,126.0,6.00,25152.0,1239.0,Africa
120,South Sudan,Africa,11206572.0,2450,NaN,47.0,NaN,1175.0,NaN,1228.0,NaN,219.0,4.00,12044.0,1075.0,Africa
124,Mozambique,Africa,31333962.0,2120,NaN,15.0,NaN,795.0,NaN,1310.0,NaN,68.0,0.50,65151.0,2079.0,Africa
125,Rwanda,Africa,12981546.0,2111,NaN,5.0,NaN,1258.0,NaN,848.0,NaN,163.0,0.40,286251.0,22051.0,Africa
127,Guinea-Bissau,Africa,1972277.0,2032,NaN,27.0,NaN,944.0,NaN,1061.0,5.0,1030.0,14.00,1500.0,761.0,Africa
128,Benin,Africa,12151976.0,1936,NaN,38.0,NaN,1600.0,NaN,298.0,1.0,159.0,3.00,93677.0,7709.0,Africa
130,Sierra Leone,Africa,7992169.0,1877,NaN,67.0,NaN,1427.0,NaN,383.0,NaN,235.0,8.00,NaN,NaN,Africa
132,Tunisia,Africa,11830801.0,1642,NaN,51.0,NaN,1241.0,NaN,350.0,9.0,139.0,4.00,100298.0,8478.0,EasternMediterranean
134,Angola,Africa,32956300.0,1483,NaN,64.0,NaN,520.0,NaN,899.0,20.0,45.0,2.00,64747.0,1965.0,Africa
138,Liberia,Africa,5068618.0,1224,NaN,78.0,NaN,705.0,NaN,441.0,NaN,241.0,15.00,NaN,NaN,Africa
139,Uganda,Africa,45867852.0,1223,NaN,5.0,NaN,1102.0,NaN,116.0,NaN,27.0,0.10,288367.0,6287.0,Africa
142,Burkina Faso,Africa,20954852.0,1158,NaN,54.0,NaN,961.0,NaN,143.0,NaN,55.0,3.00,NaN,NaN,Africa
143,Niger,Africa,24281433.0,1153,NaN,69.0,NaN,1057.0,NaN,27.0,NaN,47.0,3.00,9052.0,373.0,Africa
144,Togo,Africa,8296582.0,1012,NaN,22.0,NaN,697.0,NaN,293.0,2.0,122.0,3.00,45767.0,5516.0,Africa
149,Chad,Africa,16467965.0,942,NaN,76.0,NaN,838.0,NaN,28.0,NaN,57.0,5.00,NaN,NaN,Africa
150,Gambia,Africa,2422754.0,935,NaN,16.0,NaN,136.0,NaN,783.0,NaN,386.0,7.00,5183.0,2139.0,Africa
151,Sao Tome and Principe,Africa,219544.0,878,NaN,15.0,NaN,797.0,NaN,66.0,NaN,3999.0,68.00,3079.0,14025.0,Africa
152,Botswana,Africa,2356075.0,804,NaN,2.0,NaN,63.0,NaN,739.0,1.0,341.0,0.80,68423.0,29041.0,Africa
155,Lesotho,Africa,2143943.0,742,NaN,23.0,NaN,175.0,NaN,544.0,NaN,346.0,11.00,8771.0,4091.0,Africa
158,Réunion,Africa,895952.0,671,NaN,5.0,NaN,592.0,NaN,74.0,3.0,749.0,6.00,35419.0,39532.0,NaN
161,Tanzania,Africa,59886383.0,509,NaN,21.0,NaN,183.0,NaN,305.0,7.0,8.0,0.40,NaN,NaN,Africa
163,Comoros,Africa,871326.0,396,NaN,7.0,NaN,340.0,NaN,49.0,NaN,454.0,8.00,NaN,NaN,Africa
164,Burundi,Africa,11922216.0,395,NaN,1.0,NaN,304.0,NaN,90.0,NaN,33.0,0.08,15614.0,1310.0,Africa
166,Mauritius,Africa,1271985.0,344,NaN,10.0,NaN,334.0,NaN,0.0,NaN,270.0,8.00,205285.0,161389.0,Africa
169,Eritrea,Africa,3551175.0,282,NaN,NaN,NaN,225.0,NaN,57.0,NaN,79.0,NaN,NaN,NaN,Africa
184,Seychelles,Africa,98408.0,126,NaN,NaN,NaN,124.0,NaN,2.0,NaN,1280.0,NaN,NaN,NaN,Africa
208,Western Sahara,Africa,598682.0,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.00,NaN,NaN,Africa

In [43]:
reviews.loc[(reviews.Continent == 'Africa') & (reviews.Population >= 20302901.0)]

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
4,South Africa,Africa,59381566.0,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
26,Egypt,Africa,102516525.0,95006,NaN,4951.0,NaN,48898.0,NaN,41157.0,41.0,927.0,48.0,135000.0,1317.0,EasternMediterranean
45,Nigeria,Africa,206606300.0,45244,NaN,930.0,NaN,32430.0,NaN,11884.0,7.0,219.0,5.0,306894.0,1485.0,Africa
50,Ghana,Africa,31133483.0,39642,NaN,199.0,NaN,36384.0,NaN,3059.0,7.0,1273.0,6.0,405817.0,13035.0,Africa
54,Algeria,Africa,43926079.0,33626,NaN,1273.0,NaN,23238.0,NaN,9115.0,57.0,766.0,29.0,NaN,NaN,Africa
56,Morocco,Africa,36953359.0,29644,NaN,449.0,NaN,20553.0,NaN,8642.0,31.0,802.0,12.0,1383816.0,37448.0,EasternMediterranean
61,Kenya,Africa,53881160.0,24411,NaN,399.0,NaN,10444.0,NaN,13568.0,44.0,453.0,7.0,335318.0,6223.0,Africa
66,Ethiopia,Africa,115223736.0,20900,NaN,365.0,NaN,9027.0,NaN,11508.0,185.0,181.0,3.0,468814.0,4069.0,Africa
70,Cameroon,Africa,26606188.0,17718,NaN,391.0,NaN,15320.0,NaN,2007.0,30.0,666.0,15.0,149000.0,5600.0,Africa
71,Ivory Coast,Africa,26437950.0,16447,NaN,103.0,NaN,12484.0,NaN,3860.0,NaN,622.0,4.0,104584.0,3956.0,Africa
77,Madagascar,Africa,27755708.0,12526,NaN,134.0,NaN,10148.0,NaN,2244.0,88.0,451.0,5.0,46301.0,1668.0,Africa
78,Sudan,Africa,43943536.0,11780,NaN,763.0,NaN,6194.0,NaN,4823.0,NaN,268.0,17.0,401.0,9.0,EasternMediterranean
82,DRC,Africa,89802183.0,9309,NaN,215.0,NaN,8048.0,NaN,1046.0,NaN,104.0,2.0,NaN,NaN,Africa
118,Mali,Africa,20302901.0,2552,NaN,124.0,NaN,1954.0,NaN,474.0,NaN,126.0,6.0,25152.0,1239.0,Africa
124,Mozambique,Africa,31333962.0,2120,NaN,15.0,NaN,795.0,NaN,1310.0,NaN,68.0,0.5,65151.0,2079.0,Africa
134,Angola,Africa,32956300.0,1483,NaN,64.0,NaN,520.0,NaN,899.0,20.0,45.0,2.0,64747.0,1965.0,Africa
139,Uganda,Africa,45867852.0,1223,NaN,5.0,NaN,1102.0,NaN,116.0,NaN,27.0,0.1,288367.0,6287.0,Africa
142,Burkina Faso,Africa,20954852.0,1158,NaN,54.0,NaN,961.0,NaN,143.0,NaN,55.0,3.0,NaN,NaN,Africa
143,Niger,Africa,24281433.0,1153,NaN,69.0,NaN,1057.0,NaN,27.0,NaN,47.0,3.0,9052.0,373.0,Africa
161,Tanzania,Africa,59886383.0,509,NaN,21.0,NaN,183.0,NaN,305.0,7.0,8.0,0.4,NaN,NaN,Africa

In [44]:
reviews.loc[reviews['Country/Region'].isin(['Mali','Niger', 'Ghana','China'])]

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
50,Ghana,Africa,31133483.0,39642,NaN,199.0,NaN,36384.0,NaN,3059.0,7.0,1273.0,6.0,405817.0,13035.0,Africa
118,Mali,Africa,20302901.0,2552,NaN,124.0,NaN,1954.0,NaN,474.0,NaN,126.0,6.0,25152.0,1239.0,Africa
143,Niger,Africa,24281433.0,1153,NaN,69.0,NaN,1057.0,NaN,27.0,NaN,47.0,3.0,9052.0,373.0,Africa

In [45]:
reviews.loc[reviews['Serious,Critical'].notnull()]
#Affiche les lignes dans les-quelles la colonne (Serious,Critical) n'est pas nulle

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,Turks and Caicos,North America,3.876800e+04,129,NaN,2.0,NaN,39.0,NaN,88.0,3.0,3327.0,52.0,1252.0,32295.0,NaN
185,Monaco,Europe,3.927000e+04,125,NaN,4.0,NaN,105.0,NaN,16.0,2.0,3183.0,102.0,38209.0,972982.0,Europe
187,Antigua and Barbuda,North America,9.801000e+04,92,NaN,3.0,NaN,76.0,NaN,13.0,1.0,939.0,31.0,1500.0,15305.0,Americas
189,Belize,North America,3.983120e+05,86,NaN,2.0,NaN,31.0,NaN,53.0,2.0,216.0,5.0,3679.0,9236.0,Americas
192,Saint Martin,North America,3.872900e+04,53,NaN,3.0,NaN,41.0,NaN,9.0,1.0,1368.0,77.0,1183.0,30546.0,NaN

## Assigning data

In [46]:
#reviews['Country/Region'] = 'Mali'
#reviews['Country/Region']
# permet de remplir la colonne Country/Region par Mali

In [47]:
reviews['index_backwards'] = range(len(reviews), 0, -1)
reviews['index_backwards']

0      209
1      208
2      207
3      206
4      205
      ...
204      5
205      4
206      3
207      2
208      1
Name: index_backwards, Length: 209, dtype: int64

# Fonctions récapitulatives et cartes

In [48]:
reviews.Population.describe()

count    2.080000e+02
mean     3.041549e+07
std      1.047661e+08
min      8.010000e+02
25%      9.663140e+05
50%      7.041972e+06
75%      2.575614e+07
max      1.381345e+09
Name: Population, dtype: float64

In [49]:
reviews.Continent.nunique()

6

In [50]:
reviews.Continent.value_counts()

Africa               57
Asia                 48
Europe               48
North America        35
South America        14
Australia/Oceania     6
Name: Continent, dtype: int64

In [141]:
review_points_mean = reviews.Population.mean()
reviews.Population.map(lambda p: p - review_points_mean)
#??

0      3.007826e+08
1      1.822952e+08
2      1.350930e+09
3      1.155254e+08
4      2.896608e+07
           ...
204   -3.041049e+07
205   -3.038924e+07
206   -3.041200e+07
207   -3.041469e+07
208   -2.981680e+07
Name: Population, Length: 209, dtype: float64

In [142]:
def remean_points(row):
    row.Population = row.Population - review_points_mean
    return row

reviews.apply(remean_points, axis='columns')

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.007826e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,1.822952e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.350930e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.155254e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,2.896608e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,Montserrat,North America,-3.041049e+07,13,NaN,1.0,NaN,10.0,NaN,2.0,NaN,2604.0,200.0,61.0,12220.0,NaN
205,Caribbean Netherlands,North America,-3.038924e+07,13,NaN,NaN,NaN,7.0,NaN,6.0,NaN,495.0,NaN,424.0,16154.0,NaN
206,Falkland Islands,South America,-3.041200e+07,13,NaN,NaN,NaN,13.0,NaN,0.0,NaN,3726.0,NaN,1816.0,520493.0,NaN
207,Vatican City,Europe,-3.041469e+07,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe
208,Western Sahara,Africa,-2.981680e+07,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa

In [143]:
reviews.head(3)

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia

In [144]:
review_points_mean = reviews.Population.mean()
reviews.Population - review_points_mean

0      3.007826e+08
1      1.822952e+08
2      1.350930e+09
3      1.155254e+08
4      2.896608e+07
           ...
204   -3.041049e+07
205   -3.038924e+07
206   -3.041200e+07
207   -3.041469e+07
208   -2.981680e+07
Name: Population, Length: 209, dtype: float64

In [1]:
reviews.Continent + " - " + str(reviews.NewCases)

NameError: name 'reviews' is not defined

# Regroupement et tri

In [153]:
import pandas as pd
reviews = pd.read_csv("C:/Users/user/Desktop/ODC/covid.csv", index_col=0)
pd.set_option("display.max_rows", 15)
reviews

,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
Country/Region,,,,,,,,,,,,,,,
USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Montserrat,North America,4.992000e+03,13,NaN,1.0,NaN,10.0,NaN,2.0,NaN,2604.0,200.0,61.0,12220.0,NaN
Caribbean Netherlands,North America,2.624700e+04,13,NaN,NaN,NaN,7.0,NaN,6.0,NaN,495.0,NaN,424.0,16154.0,NaN
Falkland Islands,South America,3.489000e+03,13,NaN,NaN,NaN,13.0,NaN,0.0,NaN,3726.0,NaN,1816.0,520493.0,NaN
Vatican City,Europe,8.010000e+02,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe
Western Sahara,Africa,5.986820e+05,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa

In [154]:
reviews.groupby('Population').Population.count()

Population
8.010000e+02    1
3.489000e+03    1
4.992000e+03    1
2.624700e+04    1
3.369000e+04    1
               ..
2.127107e+08    1
2.212959e+08    1
2.738084e+08    1
3.311981e+08    1
1.381345e+09    1
Name: Population, Length: 208, dtype: int64

In [155]:
reviews.groupby('Population').TotalCases.min()

Population
8.010000e+02         12
3.489000e+03         13
4.992000e+03         13
2.624700e+04         13
3.369000e+04        190
                 ...
2.127107e+08    2917562
2.212959e+08     281863
2.738084e+08     118753
3.311981e+08    5032179
1.381345e+09    2025409
Name: TotalCases, Length: 208, dtype: int64

In [156]:
reviews.groupby('Continent').apply(lambda df: df.TotalCases.iloc[0])

Continent
Africa                538184
Asia                 2025409
Australia/Oceania      19890
Europe                871894
North America        5032179
South America        2917562
dtype: int64

In [159]:
reviews.groupby(['Country/Region', 'Continent']).apply(lambda df: df.loc[df.Population.idxmax()])

,,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
Country/Region,Continent,,,,,,,,,,,,,,,
Afghanistan,Asia,Asia,39009447.0,36896,NaN,1298.0,NaN,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean
Albania,Europe,Europe,2877470.0,6016,NaN,188.0,NaN,3155.0,NaN,2673.0,23.0,2091.0,65.0,38997.0,13553.0,Europe
Algeria,Africa,Africa,43926079.0,33626,NaN,1273.0,NaN,23238.0,NaN,9115.0,57.0,766.0,29.0,NaN,NaN,Africa
Andorra,Europe,Europe,77278.0,944,NaN,52.0,NaN,828.0,NaN,64.0,1.0,12216.0,673.0,3750.0,48526.0,Europe
Angola,Africa,Africa,32956300.0,1483,NaN,64.0,NaN,520.0,NaN,899.0,20.0,45.0,2.0,64747.0,1965.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,Asia,Asia,97425470.0,747,NaN,10.0,NaN,392.0,NaN,345.0,NaN,8.0,0.1,482456.0,4952.0,WesternPacific
Western Sahara,Africa,Africa,598682.0,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa
Yemen,Asia,Asia,29886897.0,1768,NaN,508.0,NaN,898.0,NaN,362.0,NaN,59.0,17.0,120.0,4.0,EasternMediterranean
Zambia,Africa,Africa,18430129.0,7164,NaN,199.0,NaN,5786.0,NaN,1179.0,NaN,389.0,11.0,90307.0,4900.0,Africa
Zimbabwe,Africa,Africa,14883803.0,4339,NaN,84.0,NaN,1264.0,NaN,2991.0,NaN,292.0,6.0,140421.0,9434.0,Africa

In [51]:
reviews.groupby(['continent']).Population.agg([len, min, max])

KeyError: 'continent'

In [162]:
countries_reviewed = reviews.groupby(['Country/Region', 'Continent']).description.agg([len])
countries_reviewed

AttributeError: 'DataFrameGroupBy' object has no attribute 'description'

In [163]:
mi = countries_reviewed.index
type(mi)

NameError: name 'countries_reviewed' is not defined

# Types de données et valeurs manquantes

In [164]:
import pandas as pd
reviews = pd.read_csv("C:/Users/user/Desktop/ODC/covid.csv", index_col=0)
pd.set_option('max_rows', 5)

OptionError: 'Pattern matched multiple keys'

## Dtypes

In [165]:
reviews.Population.dtype

dtype('float64')

In [166]:
reviews.dtypes

Continent            object
Population          float64
TotalCases            int64
NewCases            float64
TotalDeaths         float64
NewDeaths           float64
TotalRecovered      float64
NewRecovered        float64
ActiveCases         float64
Serious,Critical    float64
Tot Cases/1M pop    float64
Deaths/1M pop       float64
TotalTests          float64
Tests/1M pop        float64
WHO Region           object
dtype: object

In [167]:
reviews.Population.astype('float64')

Country/Region
USA                      3.311981e+08
Brazil                   2.127107e+08
India                    1.381345e+09
Russia                   1.459409e+08
South Africa             5.938157e+07
                             ...
Montserrat               4.992000e+03
Caribbean Netherlands    2.624700e+04
Falkland Islands         3.489000e+03
Vatican City             8.010000e+02
Western Sahara           5.986820e+05
Name: Population, Length: 209, dtype: float64

In [168]:
reviews.index.dtype

dtype('O')

## Missing data

In [169]:
reviews[pd.isnull(reviews.continent)]

AttributeError: 'DataFrame' object has no attribute 'continent'

In [170]:
reviews.Continent.fillna("Unknown")

Country/Region
USA                      North America
Brazil                   South America
India                             Asia
Russia                          Europe
South Africa                    Africa
                             ...
Montserrat               North America
Caribbean Netherlands    North America
Falkland Islands         South America
Vatican City                    Europe
Western Sahara                  Africa
Name: Continent, Length: 209, dtype: object

In [171]:
reviews.Continent.replace("@kerinokeefe", "@kerino")

Country/Region
USA                      North America
Brazil                   South America
India                             Asia
Russia                          Europe
South Africa                    Africa
                             ...
Montserrat               North America
Caribbean Netherlands    North America
Falkland Islands         South America
Vatican City                    Europe
Western Sahara                  Africa
Name: Continent, Length: 209, dtype: object

In [174]:
reviews.rename(columns={'Continent': 'Continent'})

,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
Country/Region,,,,,,,,,,,,,,,
USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Montserrat,North America,4.992000e+03,13,NaN,1.0,NaN,10.0,NaN,2.0,NaN,2604.0,200.0,61.0,12220.0,NaN
Caribbean Netherlands,North America,2.624700e+04,13,NaN,NaN,NaN,7.0,NaN,6.0,NaN,495.0,NaN,424.0,16154.0,NaN
Falkland Islands,South America,3.489000e+03,13,NaN,NaN,NaN,13.0,NaN,0.0,NaN,3726.0,NaN,1816.0,520493.0,NaN
Vatican City,Europe,8.010000e+02,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe
Western Sahara,Africa,5.986820e+05,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa

In [175]:
reviews.rename_axis("wines", axis='rows').rename_axis("Abba", axis='Baba')

ValueError: No axis named Baba for object type DataFrame